@import url('whitespace_reset.css');

.hide { display: none; }

html { font-size: 62.5%; }

body {
  color: #444;
  font: 1.6rem 'Open Sans', 'Noto Sans', Helvetica, Arial, sans-serif;
}

a {
  color: #008000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h2 {
  font-weight: 100;
  font-size: 4.8rem;
}

.row {
  max-width: 960px;
  margin: 5.8rem auto;
  text-align: center;
}

.divider {
  background: #efefef;
  background: blue;
  margin: 0 3rem;
  height: .1rem;
}

.navbar {
  background: #fff;
  border-top: 1rem solid #f5f5f5;
  border-bottom: .1rem solid #eee;
  height: 5.5rem;
  position: fixed;
  padding: 1rem;
  top: 0;
  text-align: center;
  width: 100%;
}
.navbar li {
  display: inline-block;
  padding: 0px 2.45rem;
}

.navbar a {
  color: #444;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.navbar a:hover, .navbar a:focus {
  text-decoration: underline;
}

/* 1570*428 */
.header {
  background: transparent url('images/front.jpg') center 0 no-repeat;
  margin: 5.5rem auto 0;
  padding: 15rem 0 5.4rem 0;
  text-align: center;
}
.header img {
  display: inline-block;
  margin-bottom: -0.1rem;
  width: 80px;
}
h1 {
  color: #fff;
  font-size: 7.2rem;
}
.header p {
  color: #fff;
  font-size: 3.1rem;
  text-transform: uppercase;
}

#tickets {
  margin: 5.9rem auto 7rem;
  text-align: center;
}
#tickets p:first-of-type {
  font-weight: 100;
  margin-top: 3.1rem;
}

a.btn {
  background: #008000;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  height: 4.2rem;
  line-height: 4.2rem;
  margin-top: 1rem;
  padding: 0 3rem;
}
a.btn:hover {
  background: #006000;
}

#speakers {
  /*margin-top: 5.8rem;*/
}
#speakers ul {
  font-size: 0;
  margin-top: 3.1rem;
}
#speakers li {
  border: .1rem solid blue;
  display: inline-block;
  /*font-size: 1.6rem;*/
  height: 380px;
  /* margin-right: 0.5rem; */
  /*margin: 0 0.7rem 0.8rem;*/
  margin: 0.5rem 0.7rem;
  width: 280px;
  vertical-align: top;
}
#speakers li:nth-of-type(3) {
  /*margin-right: 0;*/
}
#speakers figure {
  /*height: 380px;*/
  /*width: 280px;*/
}
#speakers figcaption {
  margin-top: 3.5rem;
}
#speakers h3 a {
  color: #008000;
  font-size: 2.4rem;
  font-weight: bold;
}
#speakers img {
  width: 100%;
}
#speakers p {
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 2.4rem;
  margin-top: 0.6rem;
  padding: 0 1.1rem;
  /*height: 66px;*/
}

table {
  border-bottom: .1rem solid blue;
  border-collapse: collapse;
  font-size: 2.4rem;
  margin: 3.4rem 0 6.1rem;
}
tr {
  border-top: .1rem solid blue;
  /* padding: .1rem; */
}
th, td {
  /* padding: 1rem 1.15rem 1rem; */
  padding: 1rem 1.15rem;
  text-align: left;
  vertical-align: middle;
}
table a {
  color: #008000;
  font-size: 1.8rem;
  font-weight: bold;
}
table img {
  width: 130px;
}

.tag {
  background: #eee;
  border: .1rem solid #aaa;
  display: inline-block;
  font-size: 0.7rem;
  height: 1.3rem;
  line-height: 1.3rem;
  margin: 0 0.15rem;
  padding: 0 0.2rem;
  vertical-align: 0.6rem;
}
.tag:first-of-type {
  margin-left: 1rem;
}

#location {
  /*overflow: visible;*/
  text-align: center;
  margin-bottom: 7.2rem;
}
#location p, #callforpapers p {
  font-weight: 100;
  line-height: 2.6rem;
  text-align: left;
}
#location p ~ p {
  margin-top: 1.5rem;
}
h5 {
  font-weight: bold;
}
#location h5 {
  margin-top: 3.1rem;
  text-align: left;
}
#location img {
  display: block;
  margin: 3.1rem 0;
}
#location a, #callforpapers a {
  font-weight: bold;
}

#callforpapers {
  margin-top: 6.2rem;
  margin-bottom: 8.3rem;
}
#callforpapers p:first-of-type {
  margin-top: 2.9rem;
}
#callforpapers p ~ p {
  margin-top: 1.2rem;
}

#sponsors {
  text-align: left;
}
#sponsors div {
  margin-top: 2.8rem;
  margin-bottom: 3.7rem;
}
#sponsors h5 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}
#sponsors img {
  width: 100%;
}
#sponsors li {
  display: inline-block;
  height: 247px;
  width: 300px;
}
#sponsors .gold li {
  margin-right: 4rem;
}
#sponsors .silver li {
  margin-right: 3.9rem;
  height: 24rem;
  width: 24rem;
}
#sponsors .support li {
  margin-right: 3.9rem;
  height: 18.1rem;
  width: 18.1rem;
}

.footer {
  background: transparent url('images/people.jpg') 0 -8.4rem no-repeat;
  border-top: .1rem solid blue;
  color: #fff;
  height: 34rem;
  width: 100%;
}
.footer h2 {
  padding-left: 3.5rem;
  margin: 2.9rem auto;
  text-align: center;
}
.team {
  background: rgba(0, 0, 0, .6);
  padding: 1.1rem 14.6rem 2.6rem;
}
.team h3 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.team p {
  font-weight: 100;
}
.team p:first-of-type {
  margin-bottom: 2rem;
}
.team a {
  font-weight: bold;
}
/*

green: #008000
border below tickets, and in table: #efefef;
#e8e8e8 : border around speaker images
# trams;icemt bprder
*/


