@import url('whitespace_reset.css');
.hide { display: none; }
html { font-size: 62.5%; }
body {
  background: #000;
  color: #eee;
  font: 1.6rem 'Open Sans', 'Noto Sans', Helvetica, Arial, sans-serif;
}
* {
  border: 3px solid #eee;
  content: '';
}

div {
  background: #333;
  width: 50%;
}

row {
  background: blue;
  height: 500px;
}