@import url('whitespace_reset.css');
.hide { display: none; }
html { font-size: 62.5%; }
body {
  /*background: black;*/
  color: #444;
  font: 1.6rem 'Open Sans', 'Noto Sans', Helvetica, Arial, sans-serif;
}

.divider {
  background: #efefef;
  /*content: '';*/
  margin: 0 3rem;
  height: 1px;
}

a {
  text-decoration: none;
}

section {
  text-align: center;
}

nav {
  background: #fff;
  background: black;
  border-top: 10px solid #f5f5f5;
  border-bottom: 1px solid #eee;
  position: fixed;
  padding: 1.1rem;
  text-align: center;
  width: 100%;
}

header {
  /*background: transparent url('images/front.jpg') -16rem 5.3rem no-repeat;*/
  background: transparent url('images/front.jpg') 0 0 no-repeat;
  background-size: cover;
  height: 48.3rem;
  padding-top: 20.7rem;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 0px 2.45rem;
}

nav a {
  color: #444;
  font-size: 1.3rem;
  text-transform: uppercase;
}
nav a:hover, nav a:focus {
  text-decoration: underline;
}

h1 {
  color: #fff;
  font-size: 7.2rem;
}

header p {
  color: #fff;
  font-size: 3.1rem;
  text-transform: uppercase;
}

#tickets {
  margin: 5.9rem;
  text-align: center;
}

h2 {
  font-weight: 100;
  font-size: 4.8rem;
}

#tickets p:first-of-type {
  font-weight: 100;
  margin-top: 3.1rem;
}

.btn {
  background: #080;
}

a.btn {
  color: #fff;
  display: inline-block;
  font-weight: bold;
  margin-top: 1rem;
  padding: 1rem 3.2rem;
}

#speakers {
  /*border-top: 1px solid #efefef;*/
  margin-top: 7rem;
  padding-top: 27rem;
}

#speakers li {
  display: inline-block;
  height: 380px;
  width: 280px;


}



/*

green: #080
border below tickets, and in table: #efefef;
#e8e8e8 : border around speaker images
# trams;icemt bprder
*/
















/*fix....*/
.map img {
  max-width: 500px
}